*{
    margin: 0;
}

.back{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assets/bglogin2.jpg);
    height: 100vh;
    overflow-y: scroll;
    width: 200vh;
    margin-top: -10px;
    margin-left: -10px;
}
.logo{
    width: 180px;
    height: 140px;
    cursor: pointer;
    margin-left: 10px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    background: white;
    border-radius: 25px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    height: auto;
    padding: 20px;
}
.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .txt_group{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_group input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_group label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.txt_group span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_group input:focus ~ label,
.txt_group input:valid ~ label{
    top: -10px;
    color: #2691d9;
}
.txt_group input:focus ~ span::before,
.txt_group input:valid ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.register{
    text-align: center;
    margin-top: 20px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
}
