<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="back">
      <a routerLink="/"><img src="assets/finallogo.png" class="logo"></a>
      
      <div class="center">
        <h1>Login</h1>
        <form method="post">
          <div class="txt_group">
            <input type="email" class="txt_field" name="fac_email" id="email" [(ngModel)] = "fac_email" required>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_group">
            <input type="password" class="txt_field" name="fac_password" id="password" [(ngModel)] = "fac_password" required>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass">Forgot Password?</div>
          <input type="submit" class="login" id="login" value="Login" (click)="facultyLogin()">
          <div class="register">Don't Have an account?&nbsp;<a routerLink="/Register">Register Here</a></div>
        </form>
      </div>
    </div> 
  </body>
</html>