*{
    margin: 0;
}

.god{
    margin-left: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Home */
.banner{
    width: 200vh;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assets/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 180px;
    height: 140px;
    cursor: pointer;
    margin-left: 10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    top: 50%;
    position: absolute;
    color: #ffff;
    transform: translateY(-50%);
    text-align: center;
    font-family: sans-serif;
}
.content h1{
    font-size: 50px;
    margin-top: 10;
}
.homebtn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #ffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.homebtn:hover span{
    width: 100%;
}
.homebtn:hover{
    border: none;
}

/* About Us */

.main_con{
    width: 100%;
    height: 500px;
}

.container{
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}
.card{
    box-sizing: border-box;
    width: 250px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.35);
    margin-left: 45px;
    margin-top: 30px;
}

.teamImg{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: -30px;
    border-radius: 20px;
}

.myImg{
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: -30px;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}

.member{
    opacity: 0.5;
}

.row{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
}

.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 6px;
    text-align: center;
  }

.about{
    text-decoration: none;
    color: black;
    padding: 20px 0;
}

/* Contact US */

.contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(/assets/contactUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
    width: 200vh;
}

.title{
    color: white;
    margin-top: -550px;
    margin-left: 120px;
    font-size: 60px;
}

.box1{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 405px;
    height: 355px;
    border-radius: 30px;
    filter: drop-shadow(8px, 8px, 4px, white);
    margin-left: 810px;
    margin-top: -189px;
    filter: blur(5px);
    z-index: -1;

}

.info{
    color: white;
    margin-top: 20px;
    font-size: 20px;
    margin-left: 120px;
    margin-right: 800px;
}

.main{
    width: 100%;
    height: 620px;
}

.one{
    margin-top: 50px;
}

.input-field{
    width: 300px;
    border-top: 0; 
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 35px;
    outline: none;
    margin-top: 30px;
    margin-left: 40px;
    padding-left: 10px;
    background-color: #f4e6c1;
    font-family: sans-serif;
}

.input-field-message{
    width: 300px;
    border-top: 0; 
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    height: 80px;
    outline: none;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 40px;
    background-color: #f4e6c1;
    font-family: sans-serif;
}
.input{
    margin-left: 25px;
    position: absolute;
    margin-top: 100px;
    margin-left: 800px;
    width: 400px;
    height: 350px;
    box-sizing: border-box;
    box-shadow:0 35px 80px rgba(0, 0, 0.65, 0.75);
    z-index: 1;
    background-color: white;
    border-radius: 30px;
}

.submit{
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
    background-color: #ecc763;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    cursor: pointer;
    color: black;
}